.console_history
*.log
banned-ips.json
banned-players.json
bukkit.yml
cache/
commands.yml
config/paper-global.yml
config/paper-world-defaults.yml
data-storage/
help.yml
libraries/
logs/
ops.json
permissions.yml
plugins/.paper-remapped/
plugins/bStats/
plugins/CommandPanels/config.yml
plugins/CommandPanels/data.yml
plugins/CommandPanels/lang.yml
plugins/CommandPanels/panels/dialog.yml
plugins/CommandPanels/panels/floodgate_custom.yml
plugins/CommandPanels/panels/floodgate_simple.yml
plugins/CommandPanels/panels/inventory.yml
plugins/CoreProtect/.language
plugins/CoreProtect/.license
plugins/CoreProtect/database.db
plugins/CoreProtect/language.yml
plugins/floodgate/config.yml
plugins/floodgate/key.pem
plugins/FreedomChat/config.yml
plugins/Geyser-Spigot/custom-skulls.yml
plugins/Geyser-Spigot/locales/
plugins/GrimAC/config.yml
plugins/GrimAC/discord.yml
plugins/GrimAC/messages.yml
plugins/GrimAC/punishments.yml
plugins/GrimAC/violations.sqlite
plugins/GuizhanLibPlugin/
plugins/Hurricane/hurricane.conf
plugins/HuskHomes/HuskHomesData.db
plugins/HuskHomes/HuskHomesData.db.bak
plugins/HuskHomes/messages-zh-cn.yml
plugins/HuskHomes/spawn.yml
plugins/Slimefun/block-storage.yml
plugins/Slimefun/config.yml
plugins/Slimefun/Items.yml
plugins/Slimefun/messages.yml
plugins/Slimefun/profile-storage.yml
plugins/Slimefun/Researches.yml
plugins/Slimefun/resources.yml
plugins/Slimefun/sounds.yml
plugins/Slimefun/world-settings/
plugins/spark/
plugins/ViaBackwards/config.yml
plugins/ViaRewind/config.yml
plugins/ViaVersion/config.yml
spigot.yml
usercache.json
version_history.json
versions/
whitelist.json
world_nether/
world_the_end/
world/advancements/
world/data/
world/datapacks/bukkit/
world/entities/
world/level.dat
world/level.dat_old
world/paper-world.yml
world/playerdata/
world/poi/
world/region/
world/session.lock
world/stats/
world/uid.dat
